<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PersistenciaDestino" value="MemoryEscuela"/>
    <add key="URLServer" value="168.192.100.5"/>
  </appSettings>
  <connectionStrings>
    <add name="MemoryEscuela"
         connectionString="School"/>
    <add name="SQLServerEscuela"
         connectionString="Data source=VICTOR-PC\SQL2012;Initial Catalog=School;Integrated Security=true;"
    />
    <add name="PostgresEscuela"
       connectionString="Host = localhost;Database = School;Username = postgres;Password = nupode"
    />
  </connectionStrings>
</configuration>